* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hero-section {
    background-color: #1F2937;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    position: sticky; /* Make the header sticky */
    top: 0; /* Stick it to the top of the viewport */
    z-index: 1000; /* Ensure it stays above other content */
    background-color: #1F2937;
    padding: 20px;
}

.header a {
    text-decoration: none;
}

.logo {
    flex: auto;
}

ul {
    flex: auto;
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    gap: 20px;
}

.jumbotron {
    display: flex;
    color: #F9FAF8;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 80px 0;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #1F2937;
}

.jumbotron-info {
    flex: 1 1 300px;
    max-width: 500px;
    min-width: 250px;
}

.jumbotron-info >* {
    margin-bottom: 10px;
}

.jumbotron-info > button {
    background-color: #3882F6;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}

.jumbotron-info > button a {
    text-decoration: none;
}

.jumbotron-image {
    flex: 1 1 0;
    align-items: flex-end;
}

.jumbotron h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.jumbotron p, a, .jumbotron button {
    font-size: 18px;
    color: #E5E7EB;
}


@media (max-width: 904px) {
    .jumbotron {
        flex-direction: column-reverse;
    }
}

@media (max-width: 600px) {
    .jumbotron-image {
        max-width: 100%;
        height: auto;
    }

    div#services.info-cards {
        padding: 0 20px;
    }
}

/* Info-cards section */

.info-cards {
    padding: 40px 150px;
}

.info-cards h1 {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-around;
    margin: 40px 0;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    gap: 10px;
}

.card img {
    border-radius: 15px;
    width: 200px;
    height: 150px;
    border: 5px #3882F6 solid;
}

.card p {
    font-size: 18px;
    color: rgb(108 113 124);
    text-align: center;
}

/* testimonial section */

.testimonial {
    background-color: #E5E7EB;
    padding: 120px 40px;
}

.testimonial-quote {
    max-width: 800px;
    margin: 0 auto;
}

.testimonial-quote p.quote {
    font-size: 36px;
    font-weight: 200;
    color: rgb(108 113 124);
    margin-bottom: 30px;
}

.testimonial-quote p.customer {
    font-size: 24px;
    color: #1F2937;
    text-align: right;
}

/* Call section */

.call-section {
    padding: 100px 20px;
}

.call-card {
    background-color: #3882F6;
    color: #E5E7EB;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 50px 20px;
}

.call-info {
    flex: 1;
    max-width: 400px;
}

.call-info>h2{
    color: rgb(249 250 248);
}

.call-info>p{
    font-size: 18px;
}

.call-card>button {
    background-color: #3882F6;
    border: white solid 2px;
    border-radius: 8px;
    color: #E5E7EB;
    padding: 5px 20px;
    font-size: 18px;
    flex-shrink: 0;
    cursor: pointer;
}

.call-card>button a {
    text-decoration: none;
}

/* Footer section */

.footer {
    display: flex;
    background-color: #1F2937;
    height: 100px;
    color: #E5E7EB;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.footer a {
    margin-left: 5px;
    margin-right: 5px;
}